html {
  background-color: #1b00ff;
  scroll-behavior: smooth;
  font-size: 16px;
}

h1, h2 {
  font-weight: 500;
}

h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #020202;
  font-family: "FA Sysfont C", Krungthep, monospace !important;
  cursor: url("./cursor.png"), auto;
}

a {
  cursor: url("./cursor-click.png"), pointer;
  text-decoration: none;
}
a:hover, a:active {
  color: inherit;
}

::selection {
  color: #f0f0f0;
  background: #ff2600;
}

@font-face {
  font-family: "FA Sysfont C";
  src: url("./fa-sysfont-c.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 540px) {
  .section-container#contact > .title-container {
    margin-bottom: 36px;
  }
}

.section-container#awards .list-container {
  line-height: 2.5rem;
  list-style: ">  ";
  padding-inline-start: 1rem;
  margin-inline-end: 1rem;
  font-family: "FA Sysfont C", KrungThep, sans-serif;
}
.section-container#awards .list > a {
  color: #c60000;
}
.section-container#awards .list > a:hover, .section-container#awards .list > a:active {
  color: #791010;
}

.section-container#vote {
  padding: 1rem 15%;
}
@media screen and (max-width: 710px) {
  .section-container#vote {
    padding: 1rem 7%;
  }
}

.section-container#vote .buttons {
  display: flex;
  justify-content: center;
}
.section-container#vote .buttons > .btn:not(:first-child) {
  margin-left: 1.5rem;
}

.section-container#vote .vote-container {
  display: block;
}
.section-container#vote .vote-container .top {
  display: block;
}
.section-container#vote .vote-container .bottom {
  display: block;
}

.section-container#vote .vote-container > .top {
  padding-top: 24px;
}
.section-container#vote .vote-container > .top > .gallery {
  display: block;
}
.section-container#vote .vote-container > .top > .gallery > .current {
  width: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.section-container#vote .vote-container > .top > .gallery > .current > .vote-card {
  padding: 1.75rem 1.5rem;
}
@media screen and (max-width: 540px) {
  .section-container#vote .vote-container > .top > .gallery > .current {
    position: relative;
    width: 100%;
  }
}
.section-container#vote .vote-container > .top > .gallery > .aside {
  display: flex;
  justify-content: space-between;
  filter: brightness(0.9);
  pointer-events: none;
}
.section-container#vote .vote-container > .top > .gallery > .aside > * {
  width: 50vw;
  overflow: auto;
}
@media screen and (max-width: 540px) {
  .section-container#vote .vote-container > .top > .gallery > .aside {
    display: none;
  }
}
.section-container#vote .vote-container > .top .helper-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.section-container#vote .vote-container > .top .progress {
  text-align: center;
  position: relative;
}

.section-container#vote .vote-container > .bottom .rank-title {
  font-size: 3rem;
}
.section-container#vote .vote-container > .bottom .rank {
  font-size: 2.5rem;
}

@media screen and (min-width: 1300px) {
  .section-container#submissions {
    padding: 5% 25%;
  }
}

.section-container#vote .title {
  text-align: center;
}

.section-container#projects {
  min-height: 100vh;
}
@media screen and (min-width: 1300px) {
  .section-container#projects {
    padding: 5% 25%;
  }
}
.section-container#projects .title {
  text-align: center;
}
.section-container#projects .back {
  display: flex;
  justify-content: center;
}

.section-container#awards .text-box {
  text-align: left;
}

.facebook-container {
  mix-blend-mode: luminosity;
}
.facebook-container .facebook-embed {
  width: 61%;
  cursor: url("../cursor.png"), auto;
}
.facebook-container .facebook-embed :hover, .facebook-container .facebook-embed :active {
  cursor: url("../cursor-click.png"), pointer;
}
@media screen and (max-width: 1025px) {
  .facebook-container .facebook-embed {
    width: 75%;
  }
}
@media screen and (max-width: 833px) {
  .facebook-container .facebook-embed {
    width: 85%;
  }
}
@media screen and (max-width: 747px) {
  .facebook-container .facebook-embed {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .section-container#agenda {
    padding: 5% 20%;
  }
}

.section-block#header-section .nes-btn {
  margin: 10px 0;
}
@media screen and (max-width: 540px) {
  .section-block#header-section .nes-btn {
    font-size: 20px;
  }
}
.section-block#header-section .title {
  margin: 25px 0;
  text-align: left;
}
@media screen and (min-width: 1300px) {
  .section-block#header-section .title {
    padding-left: 5%;
    padding-top: 5%;
  }
}
@media screen and (max-width: 540px) {
  .section-block#header-section .title {
    margin: 0;
  }
}

#astro {
  position: fixed;
  right: 15%;
  top: 15%;
  max-width: 100%;
  height: 50%;
  z-index: -1;
  will-change: height, transform;
}
@media screen and (min-width: 1300px) {
  #astro {
    top: 15%;
    right: 25%;
  }
}
@media screen and (max-width: 890px) {
  #astro {
    top: 15%;
    right: 25px;
  }
}
@media screen and (max-width: 710px) {
  #astro {
    top: 35%;
    right: 0;
  }
}
@media screen and (max-width: 540px) {
  #astro {
    top: 56%;
    right: -15px;
  }
}

.agenda-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.agenda-container > div {
  position: unset !important;
}
.agenda-container .agenda-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: center;
}
.wrapper.-space {
  background-color: #1b00ff;
  background: url("/bg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nes-pointer {
  cursor: url("../cursor-click.png"), pointer;
}

.section-block {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 100vw !important;
}
.section-block h3 {
  font-size: 36px;
}
.section-block > .section-container {
  padding: 5% 10%;
  border-top: 5px solid #020202;
}
@media screen and (min-width: 1300px) {
  .section-block > .section-container {
    padding: 5% 15%;
  }
}
@media screen and (max-width: 540px) {
  .section-block > .section-container {
    padding: 10px 25px;
  }
}
.section-block .body {
  font-size: 16px;
}
.section-block.-v1 {
  background-color: #ffdd1fd9;
}
.section-block.-v2 {
  background-color: #e42cbcd9;
}
.section-block.-v3 {
  background-color: #39ff14dd;
}
.section-block.-v4 {
  background-color: #deeaeedd;
}

.section-block .title-container {
  margin: 30px 0 50px 0;
}
@media screen and (max-width: 540px) {
  .section-block .title-container {
    margin: 30px 0;
  }
}
.section-block .title-container .title {
  font-size: 48px;
}
.section-block .title-container .title > .inner {
  background-color: #020202;
  color: white;
  padding: 16px;
  transition: all 200ms ease;
}
.section-block .title-container .title > .inner:hover, .section-block .title-container .title > .inner:focus {
  background-color: #ff2600;
  color: white;
}

.section-block.-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 150px;
  height: 100vh;
}
.section-block.-header > .title-container > .title {
  line-height: 1;
  font-size: 3.75rem;
  color: white;
}
@media screen and (min-width: 1300px) {
  .section-block.-header > .title-container > .title {
    font-size: 64px;
  }
}
.section-block.-header > .btn-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0;
}
@media screen and (max-width: 540px) {
  .section-block.-header > .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    height: 40%;
  }
}
@media screen and (min-width: 1300px) {
  .section-block.-header {
    padding: 0 20%;
  }
}
@media screen and (max-width: 890px) {
  .section-block.-header {
    justify-content: space-around;
    padding: 0 65px;
  }
}
@media screen and (max-width: 710px) {
  .section-block.-header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 540px) {
  .section-block.-header {
    justify-content: center;
    padding: 10px 25px;
  }
}

.text-box {
  padding: 24px;
  font-size: 20px;
  line-height: 2rem;
  color: #020202;
  border: 5px solid #020202;
  margin: 25px 0;
}
.text-box.-blue {
  background-color: #1b00ff;
}
.text-box.-green {
  background-color: #06FF00;
}
.text-box.-yellow {
  background-color: #EFE719;
}
.text-box.-pink {
  background-color: #ff41a6;
}
.text-box.-violet {
  background-color: #EB1FFE;
}
.text-box.-orange {
  background-color: #ff9a00;
}
.text-box.-red {
  background-color: #ff2600;
}
.text-box.-black {
  background-color: #020202;
}
.text-box.-white {
  background-color: #f0f0f0;
}

.status-block {
  background-color: #020202;
  color: white;
  margin-bottom: 32px;
  padding: 1.5rem;
  text-align: left;
}
.status-block > .title {
  font-size: 36px;
  margin-top: 0.75rem;
}
.status-block > .description {
  font-size: 16px;
}
.status-block > .count {
  font-size: 36px;
  line-height: 2rem;
  text-align: right;
}

.project-card {
  background-color: #020202;
  color: white;
  margin-bottom: 32px;
  padding: 1.5rem;
  text-align: left;
  margin-top: 2rem;
  border: 2px solid #000;
}
.project-card .name {
  margin-bottom: 0;
  font-size: 2rem;
  overflow-wrap: break-word;
}
.project-card .description {
  margin: 30px 0;
  overflow-wrap: break-word;
  line-height: 1.65rem;
  font-family: Krungthep, Arial, Helveica sans-serif;
  font-weight: 500;
}
.project-card .team-info {
  display: grid;
  grid-template-areas: "x y";
}
.project-card .team-info > .teamname {
  font-size: 1rem;
  margin-right: 1rem;
  grid-area: x;
  overflow-wrap: anywhere;
}
.project-card .team-info > .members {
  margin-left: auto;
  grid-area: y;
  overflow-wrap: anywhere;
}
.project-card .team-info .label {
  display: block;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 540px) {
  .project-card .team-info {
    grid-template-areas: "x" "y";
  }
}

.project-card.-v1 .name, .project-card.-v1 .label, .vote-card.-v1 .name, .vote-card.-v1 .label {
  color: #111;
}
.project-card.-v1 .teamname, .project-card.-v1 .members, .vote-card.-v1 .teamname, .vote-card.-v1 .members {
  color: #333;
}
.project-card.-v1 .separator, .vote-card.-v1 .separator {
  border: 1.5px solid #111;
  background-color: #111;
}
.project-card.-v1 .description, .vote-card.-v1 .description {
  color: #333;
}
.project-card.-v1 .description a:hover, .vote-card.-v1 .description a:hover {
  filter: brightness(1.5);
}

.project-card.-v2 .name, .project-card.-v2 .label, .vote-card.-v2 .name, .vote-card.-v2 .label {
  color: #eee;
}
.project-card.-v2 .teamname, .project-card.-v2 .members, .vote-card.-v2 .teamname, .vote-card.-v2 .members {
  color: #dadada;
}
.project-card.-v2 .separator, .vote-card.-v2 .separator {
  border: 1.5px solid #eee;
  background-color: #eee;
}
.project-card.-v2 .description, .vote-card.-v2 .description {
  color: #dadada;
}
.project-card.-v2 .description a:hover, .vote-card.-v2 .description a:hover {
  filter: brightness(0.8);
}

.vote-card {
  background-color: #020202;
  color: white;
  margin-bottom: 32px;
  padding: 1.5rem;
  text-align: left;
  margin-top: 2rem;
  border: 2px solid #000;
  font-size: 0.75rem;
  box-shadow: 2px 2px 10px #666;
}
.vote-card .name {
  margin-bottom: 0;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}
.vote-card .description {
  margin: 30px 0;
  overflow-wrap: break-word;
}
.vote-card .team-info {
  display: grid;
  grid-template-areas: "x y";
}
.vote-card .team-info > .teamname {
  font-size: 0.75rem;
  margin-right: 1rem;
  grid-area: x;
  overflow-wrap: anywhere;
}
.vote-card .team-info > .members {
  margin-left: auto;
  grid-area: y;
  overflow-wrap: anywhere;
}
.vote-card .team-info .label {
  display: block;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 540px) {
  .vote-card .team-info {
    grid-template-areas: "x" "y";
  }
}

.vote-card.-compact {
  padding: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  transition: all 100ms ease;
}
.vote-card.-compact > .description {
  margin: 0.5rem 0;
}
.vote-card.-compact .teamname {
  margin-bottom: 0.25rem;
}
.vote-card.-compact:hover, .vote-card.-compact:active {
  cursor: url("../cursor-click.png"), pointer;
  filter: brightness(0.9);
}

.video-container {
  width: 100%;
}
.video-container > .video {
  width: 100%;
  cursor: url("../cursor.png"), auto;
}
.video-container > .video :hover, .video-container > .video :active {
  cursor: url("../cursor-click.png"), pointer;
}

.status-block > .flag {
  width: 1rem;
  height: 1rem;
}
.status-block > .flag.-active {
  background-color: #06FF00;
}
.status-block > .flag.-full {
  background-color: #ff2600;
}

.toggle-block {
  margin-bottom: 1.5rem;
}
.toggle-block.-toggled > .toggle-body {
  transform: translateY(0px);
  max-height: 250px;
  height: auto;
  padding: 25px;
}
.toggle-block.-toggled .title h2::before {
  transform: translateY(-8px) rotate(90deg);
}
.toggle-block > .toggle-header {
  background-color: #020202;
  color: white;
  margin-bottom: 32px;
  padding: 1.5rem;
  text-align: left;
  padding-bottom: 48px;
  margin-bottom: 0;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.1s ease-in;
  position: relative;
  z-index: 1;
}
.toggle-block > .toggle-header:hover {
  background-color: #1b1b1b;
}
.toggle-block > .toggle-header:active {
  background-color: #171717;
}
.toggle-block > .toggle-body {
  background-color: #020202;
  color: white;
  margin-bottom: 32px;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 0;
  max-height: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, height 0.2s ease-out, padding 0.2s ease-out;
  transform: translateY(-100px);
  position: relative;
  z-index: 0;
}

.toggle-header > .title {
  transition: all 0.25s ease-out;
  font-size: 36px;
  margin-top: 0.75rem;
}
.toggle-header > .title::before {
  content: ">";
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-10px);
  transition: transform 0.2s ease-out;
}
.toggle-header > .flag {
  width: 1rem;
  height: 1rem;
  background-color: #EFE719;
}
.toggle-header > .flag.-blue {
  background-color: #1b00ff;
}
.toggle-header > .flag.-green {
  background-color: #06FF00;
}
.toggle-header > .flag.-yellow {
  background-color: #EFE719;
}
.toggle-header > .flag.-pink {
  background-color: #ff41a6;
}
.toggle-header > .flag.-violet {
  background-color: #EB1FFE;
}
.toggle-header > .flag.-orange {
  background-color: #ff9a00;
}
.toggle-header > .flag.-red {
  background-color: #ff2600;
}
.toggle-header > .flag.-black {
  background-color: #020202;
}
.toggle-header > .flag.-white {
  background-color: #f0f0f0;
}

.toggle-body > .content {
  padding: 0.5rem 1rem;
}
.toggle-body > .content p {
  font-size: 20px;
  margin: 0;
}

.btn {
  font-size: 36px;
  background-color: #06FF00;
  font-family: "FA Sysfont C", monospace !important;
  color: #2d2d2d;
  padding: 10px 12px;
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -4px -4px 0 #177013;
}
.btn:hover, .btn:focus {
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -6px -6px 0 #177013;
  background-color: #06FF00;
  cursor: url("../cursor-click.png"), pointer;
  filter: brightness(0.9);
}
@media screen and (max-width: 540px) {
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 710px) {
  .btn {
    font-size: 1.75rem;
  }
}

.btn.-purple {
  background-color: #EB1FFE;
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -4px -4px 0 #70136b;
}
.btn.-purple:hover, .btn.-purple:focus {
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -6px -6px 0 #70136b;
  background-color: #EB1FFE;
  filter: brightness(0.9);
}

.btn.-gold {
  background-color: #e7c21a;
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -4px -4px 0 #bb9900;
}
.btn.-gold:hover, .btn.-gold:focus {
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -6px -6px 0 #bb9900;
  background-color: #e7c21a;
  filter: brightness(0.9);
}

.btn.-red {
  background-color: #e72b1a;
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -4px -4px 0 #bb0000;
}
.btn.-red:hover, .btn.-red:focus {
  box-shadow: 4px 0 0 #000, 0 4px 0 #000, -4px 0 0 #000, 0 -4px 0 #000, inset -6px -6px 0 #bb0000;
  background-color: #e72b1a;
  filter: brightness(0.9);
}

/*# sourceMappingURL=styles.css.map */
